.searchpage__info {
  padding: 20px;

  p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  h1 {
    margin-bottom: 25px;
  }

  button {
    border-radius: 30px;
    text-transform: inherit;
    margin-right: 5px;
  }
}
